/* .container {
  background-image: url("cat.jpg");
  min-height: 500px;
  /* Create the parallax scrolling effect */
/* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
*/
/* .content {
    padding: 50px;
	transform: translateY(50%);
}    
*/
/* .container-2 {
  height: 800px;
  background-color: rgba(239, 235, 235, 0.832);
  font-size: 36px;
  text-align: center;
} */

header {
  text-align: center;
}
footer {
  text-align: center;
}
.container {
  background-image: url("cat.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
}
.content {
  padding: 50px;
  transform: translateY(100%);
  color: aliceblue;
}
.parawords {
  color: aliceblue;
}
