.container{
    background-image: url("cat.jpg");
    min-height: 500px;
    /* Create the parallax scrolling effect */
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* .content {
    padding: 50px;
	transform: translateY(50%);
}    
*/
.container-2{
    height:500px;
    background-color:red;
    font-size:36px;
    text-align: center;
}

header{
    text-align: center;
}
footer{
    text-align:center;
}